body{
	background: url("../image/мышечное_волокно.png") ;
	background-size: cover;
}

.nav_size{
	padding: 0!important;
}

.navbar button {
	margin-right: 30px;
}

.logo{
	font-size: 30px;
	font-weight: 700;
	margin: 0 30px;
}

.contact{
	font-size: 30px;
	font-weight: 700;
	margin: 0 30px;
	text-transform: uppercase;
}

.nav_text{
	font-size: 20px;
	font-weight: 600;
	margin-right: 10px;
}

h1{
	margin-top: 170px;
}

.section_one_div{
	margin: auto;
}

.section_one_btn{
	margin-top: 200px;
	 border: 4px outset gold;
	 padding: 8px;
	 border-radius: 30px;
	 font-weight: 600;
	 font-size: 20px;
	outline: none!important;
	 transition: all 1s;
}

.section_one_btn:hover{
	background: #ebe300;
}

footer{
	margin-top: 250px;
	font-size: 20px;
	font-weight: 600;
}

.footer_div_two{
	text-align:center;
}


.footer_div_two_img{
	width: 50px;
}

.footer_div_three{
	margin-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	text-transform:uppercase;
}

@media screen and (max-width: 1024px) {
.navbar-light .navbar-toggler {
    margin: 0;
}

.contact{
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	text-align: left;
	text-transform: none;
}

.section_one_btn{
	margin-top: 100px;
}

.footer_div_two_img{
	width: 30px;
}

footer span{
	font-size: 15px;
	font-weight: 500;
}

footer{
	margin-top: 100px;
}
}

@media screen and (max-width: 768px) {
	
h1{
	margin-top: 140px;
	text-align: center;
}

.section_one_btn{
	margin-top: 80px;
}
	
}

@media screen and (max-width: 475px) {
h1{
	margin-top: 110px;
	font-size: 30px;
	font-weight: 700;
}

.section_one_btn{
	margin-top: 50px;
	 padding: 8px;
	 border-radius: 30px;
	 font-weight: 600;
	 font-size: 15px;
}
	
}

@media screen and (max-width: 350px) {
	
.logo{
	margin: auto;
}
.navbar-light .navbar-toggler {
    margin: auto;
}

.section_one_btn{
	 font-weight: 600;
	 font-size: 13px;
}
	
}